g-*.tar.gz
src/g_static
*~
*.o
*.in
*.lo
*.la
INSTALL
version.m4
aclocal.m4
compile
configure
config.cache
config.guess
config.h
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
Makefile
g.spec
libtool
stamp-h1
config/
m4/
autom4te.cache/
src/.deps/
src/.libs/
Doxyfile
doxygen/



