g-*.tar.gz
src/g_static
*~
*.o
*.in
*.lo
*.la
INSTALL
version.m4
aclocal.m4
configure
config.cache
config.h
config.log
config.status
Makefile
g.spec
libtool
stamp-h1
config/
m4/
autom4te.cache/
src/.deps/
src/.libs/

