index.html
g.tgz
g-*.tar.gz
src/g_static
*.o
*.in
*.lo
*.la
INSTALL
config.*
configure
Makefile
aclocal.m4
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4/
autom4te.cache/
src/.deps/
src/.libs/
